# 系统文件
.DS_Store

# 数据 / 训练数据
dpo_data/
sft_data/

# checkpoint
dpo_lora_checkpoint-693/
sft_lora_checkpoint-2200/

# 结果输出
评价结果/

# JSON 
*.json

# 指定目录下 JSON
get_sft_data/*.json
get_dpo_data/*.json
inference/*.json

# 保留代码文件
!get_sft_data/*.py
!get_dpo_data/*.py
!inference/*.py
